.container {
    display: grid;

    .top-nav {
        display: grid;
        justify-content: end;
        background-color: darkgray;
        padding: 20px 5px;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-gap: 0 15px;
        align-items: center;
        padding: 20px 20px 50px 20px;
        min-height: 250px;

        div {
        }

        :nth-child(2) {
            text-align: center;
        }

        img {
            width: 200px;
        }

        div > p {
            margin-top: 10px;
        }
    }

    .main {
        padding: 50px 20px;
        display: grid;
        grid-template-columns: 7fr 1fr;
        grid-gap: 0 15px
    }

    .main-book {
        padding: 50px 20px;
        display: grid;

        .form-input {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-items: center;

            .error > span > p {
                color: red;
                font-weight: bold;
            }

            &--fields {
                display: grid;
                justify-items: end;
            }

            &--fields > div {
                padding-bottom: 3px;
            }
        }
    }

    .main-book > div {
        padding: 10px 0;
    }


    .footer {
        padding: 50px 20px;
    }

    .btn {
    }

    .btn-page {
        color: crimson;
        text-transform: uppercase;
        background: #fff;
        padding: 7px 13px;
        border: 3px solid crimson;
        border-radius: 6px;
        display: inline-block;
        transition: all 0.3s ease 0s;
    }

    .btn-page:hover {
        color: #494949 !important;
        border-radius: 50px;
        border-color: #494949 !important;
        transition: all 0.3s ease 0s;
    }

    .btn-feature {
        //padding: 3px 5px;
        width: 89px;
        height: fit-content;
    }

    .btn-group {
        display: flex;
        justify-content: center;
    }

    input {
        margin-right: 8px;
    }

    .book-list {
        min-height: 243px;
    }

    #lstBooks {
        font-weight: bold;
        font-size: 1em;
    }

    .book-list > option {
        padding: 1em 1em;
        border: 2px solid black;
    }
}
