.container {
    display: grid;

    .top-nav {
        display: grid;
        justify-content: end;
        background-color: darkgray;
        padding: 20px 5px;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-gap: 0 15px;
        align-items: center;
        padding: 20px 20px 50px 20px;
        min-height: 250px;

        div {
        }

        :nth-child(2) {
            text-align: center;
        }

        img {
            width: 200px;
        }

        div > p {
            margin-top: 10px;
        }
    }

    .main {
        padding: 50px 20px;
        display: grid;
        grid-template-columns: 7fr 1fr;
        grid-gap: 0 15px
    }

    .footer {
        padding: 50px 20px;
    }

    .btn-feature {
        //padding: 3px 5px;
        width: 89px;
        height: fit-content;
    }

    .book-list {
        min-height: 243px;
    }
}
