*,
html {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 94%;
  margin: auto;
  background-color: aqua;
  min-height: 100vh;
}
.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid dimgrey;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: dimgrey;
  text-align: center;
  transition: all 0.2s;
}
.btn:hover {
  color: #000000;
  background-color: #FFFFFF;
}
.btn-cancel {
  width: 100%;
  background-color: #9BE205;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
btn-cancel:hover {
  background-color: #94D804;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#lblError > span {
  font-size: 1.4em;
  color: green;
  font-weight: bold;
}
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}
.container {
  display: grid;
}
.container .top-nav {
  display: grid;
  justify-content: end;
  background-color: darkgray;
  padding: 20px 5px;
}
.container .header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 0 15px;
  align-items: center;
  padding: 20px 20px 50px 20px;
  min-height: 250px;
}
.container .header :nth-child(2) {
  text-align: center;
}
.container .header img {
  width: 200px;
}
.container .header div > p {
  margin-top: 10px;
}
.container .main {
  padding: 50px 20px;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-gap: 0 15px;
}
.container .main-book {
  padding: 50px 20px;
  display: grid;
}
.container .main-book .form-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.container .main-book .form-input .form-wrapper {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.container .main-book .form-input .error > span > p {
  color: red;
  font-weight: bold;
}
.container .main-book .form-input .error > span {
  font-size: 1.4em;
  color: green;
  font-weight: bold;
}
.container .main-book .form-input--fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container .main-book .form-input--fields > div:first-of-type {
  margin-right: 33px;
}
.container .main-book .form-input--fields > div {
  padding-bottom: 3px;
}
.container .main-book > div {
  padding: 30px 0;
}
.container .footer {
  padding: 50px 20px;
}
.container .btn-page {
  color: crimson;
  text-transform: uppercase;
  background: #fff;
  padding: 7px 13px;
  border: 3px solid crimson;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.container .btn-page:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}
.container .btn-group {
  display: flex;
  justify-content: center;
}
.container input {
  margin-right: 8px;
}
.container .book-list {
  min-height: 243px;
}
.container #lstBooks {
  font-weight: bold;
  font-size: 1em;
}
.container .book-list > option {
  padding: 1em 1em;
  border: 2px solid black;
}
.wrapper {
  display: inline-flex;
}
.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}
.footer {
  position: relative;
  height: auto;
  background-color: darkslategrey;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}
.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}