*, html {
    margin: 0;
    padding: 0;
}
.wrap {
    width: 94%;
    margin: auto;
    background-color: @bg;
}
.btn {
    width:fit-content;
    padding: 3px 6px;
    &-cancel {
      width: 100%;
      background-color: #9BE205;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }   &:hover {
            background-color: #94D804;
        }
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
